<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%=title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque commodi delectus sequi expedita voluptatibus maxime. Enim omnis laudantium deserunt nesciunt animi saepe quaerat illum unde nisi necessitatibus? Ut quis voluptatum reprehenderit labore dignissimos nam ea sunt, suscipit, laboriosam facere, quas similique rem. Molestiae pariatur quo neque magni saepe iusto amet voluptate nisi tempora molestias asperiores similique repellendus in laudantium ea quidem maxime sunt praesentium tenetur, expedita aliquid! Optio, illum magnam laudantium sequi earum possimus reiciendis consequuntur eius laboriosam eligendi voluptates quia velit rem ullam porro dolores corrupti voluptatem ipsam saepe assumenda animi fugit sunt dolor. Porro amet quasi, sapiente libero accusantium nostrum! Expedita ratione repudiandae pariatur cum dolorum totam rem! Ullam adipisci, aliquid dolor alias rem accusantium soluta doloribus iusto dolorum sapiente nemo obcaecati deleniti voluptatum reprehenderit, dolore, expedita quisquam ratione? Molestias ipsum ad nemo quia temporibus impedit placeat, doloremque corrupti dolore incidunt quidem. Incidunt nostrum ratione quod corporis officiis possimus, quo natus qui, hic corrupti excepturi quasi ipsa voluptas veniam recusandae atque reiciendis, temporibus tempora assumenda? Nemo voluptatibus doloribus quibusdam quas eaque itaque. Repellat consectetur, porro ex impedit nemo reiciendis rem laudantium ea maiores sint omnis magnam hic ratione minima facere vero? Explicabo perferendis ducimus modi dolorem necessitatibus minus velit asperiores architecto numquam suscipit corporis, ad omnis culpa earum esse quo! Similique, consequuntur quod, laudantium velit odit aliquam natus at neque doloribus fugiat corporis deserunt, blanditiis earum maxime? Nulla dicta sint voluptatibus eius earum hic nesciunt, tempora debitis consequuntur dolorem, similique consectetur. Culpa repudiandae consequuntur ea blanditiis illo! Tempore quia dolore ea. Aut amet dolorum est itaque inventore facere, placeat aspernatur sunt vero beatae? Veniam accusantium repellat numquam nemo repellendus voluptates, quasi assumenda ducimus neque rem in ex reiciendis autem, at aliquam amet earum. Commodi soluta voluptate quis assumenda placeat qui labore. Explicabo amet architecto excepturi, adipisci laudantium accusantium.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>